@charset "utf-8";
/* CSS Document */
html, body
{
    width:100%;
    padding:0;
    margin:0px auto;
    height:auto;
    
}
body{
    /*color: #6495ed;*/
 background:#D5EAE0;

  
    
}
#header{

font:bold;
text-align:center;
font-size:20px;

}
#content{
margin-top:40px;
}
tr{
	vertical-align: top;
}

