@charset "utf-8";
/* CSS Document */
body{
background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(240,249,255,1) 100%, rgba(203,235,255,1) 100%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,rgba(240,249,255,1)), color-stop(100%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(240,249,255,1) 100%,rgba(203,235,255,1) 100%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(240,249,255,1) 100%,rgba(203,235,255,1) 100%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(240,249,255,1) 100%,rgba(203,235,255,1) 100%,rgba(161,219,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(240,249,255,1) 100%,rgba(203,235,255,1) 100%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
min-height: 600px;
}
#container{
	width:1000px;
	margin:0 auto;
	position:relative; overflow:hidden;
	background-color:#e7f7dd;
	
	}
#header{
width:1000px;

height:150px;
margin:0 auto;

background: rgba(243,226,199,1);
background: -moz-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,226,199,1)), color-stop(97%, rgba(193,158,103,1)), color-stop(100%, rgba(233,212,179,1)));
background: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
background: -o-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
background: -ms-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
background: linear-gradient(to top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=1 );



text-align:center;
font-size:20px;
	}
	#header_title{
		padding-top: 55px;
	}
#menubar{
width:1000px;
background-color:#09C;
height:30px;	
}
#menubar2{
text-align:center;
width:1000px;
background: rgb(243,226,199); /* Old browsers */
background: -moz-linear-gradient(bottom, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 100%, rgba(233,212,179,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%,rgba(243,226,199,1)), color-stop(100%,rgba(193,158,103,1)), color-stop(100%,rgba(233,212,179,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 100%,rgba(233,212,179,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 100%,rgba(233,212,179,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 100%,rgba(233,212,179,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 100%,rgba(233,212,179,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
height:30px;	
}
#menubar{
width:1000px;
background: rgb(243,226,199); /* Old browsers */
background: -moz-linear-gradient(bottom, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 100%, rgba(233,212,179,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%,rgba(243,226,199,1)), color-stop(100%,rgba(193,158,103,1)), color-stop(100%,rgba(233,212,179,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 100%,rgba(233,212,179,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 100%,rgba(233,212,179,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 100%,rgba(233,212,179,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 100%,rgba(233,212,179,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */

color:#9CFA96;

height:60px;	

/*white-space: nowrap;*/
/*position:relative; */
overflow:hidden;}
	#menubar ul{list-style:none; font-size:15px; font-style:italic; /*margin:21px 0 0 5px;*/}
	#menubar ul li{float:left; padding:5px 35px 0 29px; background:url(images/arrow.gif) no-repeat 0 3px;}
	#menubar a{text-decoration: none;color: #808000;}
	#menubar a:hover{color: #F30;text-decoration: underline;}


.menu{
background-image:url(images/arrow.gif);
background-repeat:no-repeat;
background-position:90px;
padding-left:90px;
font-family:Tahoma;
font-size:11px;
font-weight:bold;
color:#9CFA96;
}
.menu a{
color:#9CFA96;
text-decoration:none;
}
.menu a:hover{
color:#9CFA96;
text-decoration:none;
}
.sep{
border-bottom:#808000 1px solid;
}
/*#footer{
	width:1400px;
	height:30px;
	
	display: block;
	}*/
#leftmenu{
	width:250px;
	float:left;
	background-color:#d7eacc;
	
	}
#ltop{
	width:250px;
	height:100px;
	background-image:url(images/left1.jpg);
	
	}
	#menu1{
	width:250px;
	height:20px;
	background-image:url(images/bg.png);
	text-align:center;
	font:bold;
	
	}
	
        input[type=text]{
            width: 220px;
        }
        textarea{
            width: 220px !important;
        }
        select{
            width: 225px !important;
            
        }
#middle1{
float:left;
width:1000px;
margin-top:20px;
margin-left:20px;
background: rgb(249,252,247); /* Old browsers */
background: -moz-linear-gradient(top, rgba(249,252,247,1) 67%, rgba(245,249,240,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(67%,rgba(249,252,247,1)), color-stop(100%,rgba(245,249,240,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(249,252,247,1) 67%,rgba(245,249,240,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(249,252,247,1) 67%,rgba(245,249,240,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(249,252,247,1) 67%,rgba(245,249,240,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(249,252,247,1) 67%,rgba(245,249,240,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */
margin:0 auto;position:relative;
overflow:hidden;
text-align:justify;
margin-right:20px;
padding-bottom:50px;
padding-top:40px;
min-height: 250px;
}

#login{
border:dotted;
border-style:solid;
border-color:#d7eacc;
padding-top:20px;
width:400px;
height:150px;
margin:0 auto;
	position:relative; overflow:hidden;

background: rgba(243,226,199,1);
background: -moz-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
background: -webkit-gradient(left left, right top, color-stop(0%, rgba(243,226,199,1)), color-stop(97%, rgba(193,158,103,1)), color-stop(100%, rgba(233,212,179,1)));
background: -webkit-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
background: -o-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
background: -ms-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
background: linear-gradient(to left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=1 );
	

}
#middle{
float:left;
width:1000px;
margin-top:20px;
margin-left:20px;

margin:0 auto;position:relative; overflow:hidden;
text-align:justify;
margin-right:20px;
padding-bottom:50px;
padding-top:100px;

}
#bottom{
width:740px;
float:right;
height:173px;
background-image:url(images/bottom.jpg);
background-repeat:no-repeat;
background-position:right;
}
#control
{
	width:250px;
}
#control1
{
	width:300px;
}
#star
{
	color:#F00;
}
#msg{
color:#FF0000;
}
#footerouter
{
  
    float:left;
    width:100%;
    height:54px;
    padding:0;
   background: rgb(243,226,199); /* Old browsers */
background: -moz-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,226,199,1)), color-stop(0%,rgba(193,158,103,1)), color-stop(100%,rgba(233,212,179,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* IE10+ */
background: linear-gradient(to top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
}
#footerouter1
{
   /*margin-left: 169px;
    float:left;*/
    width:100%;
    height:54px;
    padding:0;
   background: rgb(243,226,199); /* Old browsers */
background: -moz-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,226,199,1)), color-stop(0%,rgba(193,158,103,1)), color-stop(100%,rgba(233,212,179,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* IE10+ */
background: linear-gradient(to top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
}
#footerouter2
{
   /*margin-left: 169px;
    float:left;*/
    width: 1002px;
    margin-left: 105px;
    height:54px;
    padding:0;
   background: rgb(243,226,199); /* Old browsers */
background: -moz-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,226,199,1)), color-stop(0%,rgba(193,158,103,1)), color-stop(100%,rgba(233,212,179,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* IE10+ */
background: linear-gradient(to top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
}
#footer
{
    width:1000px;
    margin:0 auto;
    position: relative;
    clear:both;
    stress:100%;
    padding:0;
    text-align: center;
padding-top: 20px;
font-size: 12px;
}
.main_heading{
text-align: center;
line-height: 25px;
}
.application {
}
.main_table0 {
text-align: justify;
line-height: 32px;
padding-bottom: 16px;
padding-top: 16px;
}
.main_table {
text-align: justify;
line-height: 32px;
padding-bottom: 16px;
padding-top: 16px;
}
.sub_table1{
float:left;
width: 55%;
}
.sub_table2 {
float: right;
width: 40%;
}
.sub_table2_words {
float: right;
width: 40%;
}
.sub_table_agency {
float: right;
width: 32%;
}
.sub_table3 {
float: left;
padding-bottom: 12px;
}

.sub_table4 {
float: left;
padding-bottom: 12px;
}

.sub_table10 {
padding-top: 52px;
float: right;
width: 40%;
}

.sub_table5 {
float: left;
}
#society_address {
resize:none;
text-transform: uppercase;
}

#financila_assisment{
resize:none;
}

#additional_teacher{
resize:none;
}

.submit_button_next{
clear: both;
padding-top: 12px;
}

#purchase{
resize:none;
}

#requirements{
resize:none;
}

.sub_table7 {
float:left;
}

.sub_table8 {
float:right;
}

.sub_table18 {
float:right;
}
.sub_table14 {
float: right;
padding-bottom: 12px;
}

#society_address1 {
resize:none;
}

#date_accrediation {
resize:none;
}

#address_full {
resize:none;
}

#qualification_teacher{
resize:none;
}

#date_accrediation_vocational{
resize:none;
}

#address_fulls {
resize:none;
}

#no_register{
resize:none;
}

#detial_recieved{
resize:none;
}

#name_address{
resize:none;
text-transform: uppercase;
}

#student_madrasa{
resize:none;
}

#equipment{
resize:none;
}

#not_accredited{resize:none;}

#remark{
resize:none;
}

#books{resize:none;}

.sub_table11{
float:left;
width: 55%;
padding-left:20px;
}

.sub_table12{
float: right;
width: 40%;
padding-bottom: 12px;
}

.sub_table20{
float: right;
padding-bottom: 12px;
}

.sub_table0{
float:left;
}

.sub_table{
float: right;
width: 75%;
}

#no_registered{
resize:none;
}

#modern_subject{
resize:none;
}

.sub_table18{
float: right;
}

.sub_table17{
float: left;
padding-top: 32px;
}

#rnum {
resize:none;
}

#located {
resize:none;
}

.main_heading_content{
text-align: center;
padding-top: 12px;
padding-bottom: 20px;
}

.introduction {
padding-top: 12px;
padding-bottom: 20px;
}

.para {
text-align: justify;
padding-bottom: 25px;
line-height: 25px;
padding-left: 23px;
}

.readmore{
float: right;
background-image: url("images/read-more-button.png");
width: 216px;
height: 92px;
background-repeat: no-repeat;
text-indent: -9999px;
} 

.readmore :hover{
float: right;
background-image: url("images/read-more-button.png");
width: 216px;
height: 92px;
background-repeat: no-repeat;
text-indent: -9999px;
} 

.online_link{
background-image: url("images/Apply_Now_button.png");
width: 195px;
height: 48px;
background-repeat: no-repeat;
text-indent: -9999px;
float: left;
margin-left: 29px;
} 

.print_application{
background-image: url("images/Print-Button.png");
width: 150px;
height: 57px;
background-repeat: no-repeat;
text-indent: -9999px;
float: left;
margin-left: 45px;
} 

.back {
background-image: url("images/back_button.png");
width: 51px;
height: 25px;
background-repeat: no-repeat;
text-indent: -9999px;
float: right;
}

.edit_application{
background-image: url("images/edit_application.png");
width: 106px;
height: 89px;
background-repeat: no-repeat;
text-indent: -9999px;
float: left;
margin-left: 50px;
margin-top: -40px;
margin-bottom: 14px;
}

.go_button{
background-image: url("images/Button_GoToNext.png") !important;
width: 114px;
height: 32px;
background-repeat: no-repeat;
text-indent: -9999px;
margin-left: 50px;
margin-top: 40px;
} 


.submit_button{
background-image: url("images/Button_GoToNext.png") !important;
width: 114px;
height: 32px;
background-repeat: no-repeat;
text-indent: -9999px;
}

.submit_button_next{
background-image: url("images/Button_GoToNext.png") !important;
width: 114px;
height: 32px;
background-repeat: no-repeat;
text-indent: -9999px;
margin-top: 40px;
}

.save_button{
background-image: url("images/save.png") !important;
width: 99px;
height: 27px;
background-repeat: no-repeat;
text-indent: -9999px;
}
.cancel_button1{
background-image: url("images/cancel-button.png") !important;
width: 98px;
height: 28px;
background-repeat: no-repeat;
text-indent: -9999px;
margin-left: 8px;
}
#natur{
    background-image: url("images/search.png") !important;
width: 95px;
height: 20px;
background-repeat: no-repeat;
text-indent: -9999px;
margin-right: 12px;
}

.login{
   background-image: url("images/login.png") !important;
width: 98px;
height: 27px;
background-repeat: no-repeat;
text-indent: -9999px;
background-color: transparent;
margin-top: 15px;
}
#change{
    background-image: url("images/change.png") !important;
width: 110px;
height: 28px;
background-repeat: no-repeat;
text-indent: -9999px;
background-color: transparent;
margin-top: 15px;
}
.save_button1{
background-image: url("images/save.png") !important;
width: 99px;
height: 27px;
background-repeat: no-repeat;
text-indent: -9999px;
}

.cancel_button{
background-image: url("images/cancel-button.png") !important;
width: 98px;
height: 28px;
background-repeat: no-repeat;
text-indent: -9999px;

}


.submit_button
{
clear: both;
}

#slot{
outline: none;
border: none;
background: transparent;
box-shadow: none;
margin-left: 125px;
margin-top: -35px;
}

#alocate {
border: none;
background: transparent;
outline: none;
box-shadow: none;
margin-left: 55px;
margin-top: -34px;
}

.application_no {
width: 40%;
float: left;
}
.id_no {
float: right;
width: 23%;
}

.applicationid
{
clear: both;
padding-bottom: 22px;
padding-top: 5px;
}
#inner
{
	
	
	
}
.textbox{
width:150px;	
}
#fdset br{
	
}
